@use "~bootstrap/scss/bootstrap";

$primary: #0a7248;
$secondary: #636363;
$success: #42ba96;
$info: #7c69ef;
$warning: #fad776;
$danger: #df4759;
$light: #f9fbfd;
$dark: #1b2a4e;
$primary-desat:#6c8aec;
$black: #161c2d;
$white: #fff;
$primary-rgb: 3,155,229;
$secondary-rgb: 80,102,144;
$success-rgb: 66,186,150;
$info-rgb: 124,105,239;
$warning-rgb:250,215,118;
$danger-rgb: 223,71,89;
$light-rgb: 249,251,253;
$dark-rgb: 27,42,78;
$primary-desat-rgb:108,138,236;
$white-rgb: 255,255,255;
$black-rgb: 22,28,45;
$body-color-rgb: 22,28,45;
$body-bg-rgb: 255,255,255;
